@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,100&display=swap');

*{
padding:0;
margin: 0;
box-sizing: border-box;
font-family: 'Roboto', sans-serif;
}

header {
    width: 100vw;
}

.desconto {
    background-color: #1CD1B0;
    padding: 2px 10px;
    font-weight: 100;
    }

.nome-site {
    display: flex;
    background-color: #00669F;
    padding: 10px;
}

.nome-site img {
    width: 50px;
    height: 33px;
    display: flex;
    align-items: center;
    padding-right: 5px;
}

.nome-site h1 {
    font-weight: 500;
}
.paginainteira {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content:center;
}

.principal {
width: 600px;
height: 600px;
padding: 20px;
display: flex;
flex-direction: column;
gap: 12px;
justify-content: center;
/* background-color: #89b6d0; */

}
.login {
    font-size: 40px;
}
.campodig{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.entrar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    font-size: 20px;
    text-decoration: none;
    color: black;
    background-color: #1CD1B0;
    border-radius: 5px;
    margin-top: 20px;
}

.registre-se {
    display: flex;
    gap: 5px;
    justify-content: center;  
}

.registre-se a{
    text-decoration: none;
    color: rgb(66, 135, 213);
}

.footer {
    height: 40px;
display: flex;
align-items: center;
justify-content: center;
  background-color: #00669F;
}

