@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,100&display=swap');

* {
    font-family: 'roboto';
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.desconto {
    background-color: #5dcaa6;
    padding: 10px 10px;
}

.titulo {
    background-color: #2483cb;
    padding: 30px 20px 20px;
    font-weight: 100;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.conteudo {
    position: relative;
    display: flex;
    width: 100%;
    margin: 50px auto;
    padding: 30px 100px;
}

.card {
    width: 373.57px;
    height: 550px;
    position: relative;
    text-align: center;
    background-color: #eeeeee;
    border-radius: 16px 16px 0 0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.perfil {
    border-radius: 100%;
    margin: -70px auto 20px;

}

.like {
    position: absolute;
    top: 15px;
    left: 20px;
}

.descricao {
    padding: 30px 30px 15px;

}

button {
    background-color: #2483cb;
    padding: 10px 15px;
    margin: 15px;
    border: #eeeeee;
}

.todos {
    background-color: #2483cb;
    padding: 10px 20px;
}