.titulo-primario {

    color:#f0b46b;
    font-size: 60px;
    font-style:oblique;
  
}

.background 
{
    background-color: rgb(227, 193, 129);
    
}

.background li
{

    color:#6d481b;
    font-style:normal;

}