* {
    padding: 0;
    margin: 0;

}

.topo {
    /* width: 100%; */
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    padding: 5px 3px;
}

.topo ul {
    display: flex;
    list-style: none;
   }

.topo li{
    padding: 0 7px;
}


.head {
    /* width: 100%; */
    background-color: #F0A83E;
    color: aliceblue;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
}

.icone-pata {
    width: 17px;
    height: 15px;
}

.head ul {
    display: flex;
    list-style: none;
}

.head li {
    padding: 0;
}
.head img {
    padding: 0 2px;
}